<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Formulario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>Bicicletas</h1>
        <form action="recep" method="post">
            <table border="1px">
                <tr align='center'>
                    <th width='70' bgcolor='white'>CODIGO</th>
                    <td width='100'><input type="number" name="txtcod"/></td>
                </tr>
                <tr align='center'>
                    <th width='70' bgcolor='white'>MANUBRIO</th>
                    <td width='100'><select name="txtman" required>
                        <option value="BONTRAGER">BONTRAGER ($40.000)</option>
                        <option value="LITA AERO">LITA AERO ($25.000)</option>
                        <option value="PRO VIPE">PRO VIPE ($30.000)</option>
                      </select>
                    </td>
                </tr>
                <tr align='center'>
                    <th width='70' bgcolor='white'>MARCO</th>
                    <td width='100'><select name="txtmar">
                        <option value="TRECK">TRECK ($200.000)</option>
                        <option value="MERIDA">MERIDA ($150.000)</option>
                        <option value="ORBERIA">ORBERIA ($100.000)</option>
                      </select>
                    </td> 
                </tr>          
                <tr align='center'>
                    <th width='70' bgcolor='white'>ARO</th>
                    <td width='100'><select name="txtaro">
                        <option value="20">20 ($25.000)</option>
                        <option value="24">24 ($30.000)</option>
                        <option value="26">26 ($35.000)</option>
                      </select>
                    </td>
                </tr>
                <tr align='center'>
                    <th width='70' bgcolor='white'>FRENOS</th>
                    <td width='100'>
                        <select name="txtfre">
                            <option value="U-BRAKES">U-BRAKES ($80.000)</option>
                            <option value="ROLLER CAM">ROLLER CAM ($25.000)</option>
                            <option value="TIRO CENTRAL">TIRO CENTRAL ($30.000)</option>
                        </select>
                    </td> 
                </tr>
                <tr>
                <tr>
                    <th colspan='2'>
                        <input type="submit" name="btnenv" value="Enviar">
                        <input type="reset" name="btres" value="Restablecer">
                    </th>
                </tr>          
                
            </table>
        </form>
    </body>
</html>